//import de variables
@import "../scss/extras/variables";
@import "../scss/extras/mixin";
@import "../scss/extras/extend";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Estilo del header con NESTING */

header{
    width: 100%;
    position: fixed;
    .boton:hover{
        color: white;
        font-size: 1.1rem;
        transition: .5s;
    }
    nav{
        background-image: linear-gradient($color-etiquetas);
    }
    .content{
        padding: .5%;
        justify-content: end;
    }
    .left{
        justify-content: start;
    }
}

/* estilos del texto */

h1, h2, h3, h4, p{
    color: $color-texto;
    text-align: center;
}


.margin{
    margin: 3% 0% 3% 5%;
    width: 90%;
}

label{
    color: white;
}

div a{
    color: whitesmoke;
    text-decoration: none;
}

/* estilos del fondo */

body{
    background-color: rgb(175, 175, 175);
    background-repeat: no-repeat;
    background-size: contain;
}



/* estilos footer con NESTING */

footer{
    p{
        color: black;
        font-size: 1rem;
    }
    height: 4%;
    display: flex;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-image: linear-gradient(to top, $color-etiquetas);
    color: rgb(0, 0, 0);
    justify-content: space-between;
}

/* clases */
.espacio{
    padding-top: $espaciado;
}


/*GRID*/
/*Servicios*/
.sectionServicios{
    padding-top: $espaciado;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 20px;

}

.sectionServicios .imagen-uno, .imagen-dos, .imagen-tres, .imagen-cuatro{
    padding-top: $espaciado;
    grid-column: span 1;
}

.sectionServicios .texto-uno, .texto-dos, .texto-tres, .texto-cuatro{
    padding: 2%;
    grid-column: span 3;
}



/* Index */
.sectionIndex{
    padding-top: 100px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 25% 25% 25%;
}

.sectionIndex .h2{
    margin-bottom: 3%;
    color: white;
    grid-column: span 3;
    grid-row: span 1;
}

.sectionIndex .h3{
    margin-top: 2%;
    margin-bottom: 3%;
    color: white;
    grid-column: span 3;
    grid-row: span 1;
}

.sectionContacto{ 
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 0.2fr 0.5fr 0.5fr;
}

.sectionContacto .Contacto-Titulo{
    color: black;
    text-align: center;
    grid-column: span 3;
    grid-row: span 1;
}

.sectionContacto .info{
    height: fit-content;
    width: fit-content;
    color: $color-texto;
    grid-column: span 1;
    grid-row: span 1;
}

.sectionContacto .redes{
    a{
        color: $color-texto;
    }
    padding-bottom: 10px;
}

.sectionContacto .Contacto-iframe{
    grid-column: span 1;
    grid-row: span 3;
}

iframe{
    @include iframe(400px, 250px);
}

.sectionContacto .Contacto-texto{
    padding-left: 0px;
    padding-top: $espaciado;
    width: 400px;
    grid-column: span 1;
    grid-row: span 3;
}

.form-width{
    width: 50%;
}

.form-height{
    height: 100px;
}


/*GALERIA*/

.contenedor div img{
    margin-top: 5rem;
    width: 100%;
    height: 100%;
    object-fit: fill;
    padding: 5px;
}

.contenedor{
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 33%);
}


.contenedor .img-dos, .img-cinco{
    display: block;
}

.contenedor .img-dos, .img-cuatro{
    grid-column: span 1;
}

.contenedor .img-uno, .img-tres{
    grid-column: span 2;
    grid-row: span 2;
}

.contenedor .img-cinco{
    grid-column: span 2;
}

.contenedor .img-seis{
    grid-column: span 3;
}

/* MEDIA QUERIS MOBILE--------------------------------*/
@media screen and (min-width:0px) and (max-width:600px){
    .sectionServicios{
        padding-top: 110px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 1fr  0.4fr 1fr  0.4fr 1fr  0.4fr 1fr;
        justify-content: center;
        justify-items: center;
        row-gap: 20px;
    }
    
    .sectionServicios .imagen-uno, .imagen-dos, .imagen-tres, .imagen-cuatro{
        grid-column: span 1;
        grid-row: span 1;
    }

    .sectionServicios .texto-uno, .texto-dos, .texto-tres, .texto-cuatro{
        grid-column: span 1;
        grid-row: span 1;
    }

    .texto{
        justify-content: center;
    }
    
    .sectionIndex{
        padding-top: 110px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr;
    }

    .sectionIndex .h1{
        margin-top: 40px;
        color: $color-texto;
        grid-column: span 1;
        grid-row: span 1;
    }
    
    .sectionIndex .h2, .iframe{
        color: $color-texto;
        grid-column: span 1;
        grid-row: span 1;
    }
    
    .sectionIndex .h3{
        padding-left: 10px;
        color: $color-texto;
        grid-column: span 1;
        grid-row: span 1;
    }
    
    iframe{
        @include iframe(250px, 250px);
    }

    .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .contenedor .img-uno, .img-dos, .img-tres, .img-cuatro, .img-cinco, .img-seis{
        grid-row: span 1;
        grid-column: span 1;
    }
}

@media screen and (min-width:601px) and (max-width:1024px){
    /*SERVICIOS*/
    .sectionServicios{
        grid-template-columns: 1fr 1fr;
        grid-template-rows:0.4fr 1fr 0.4fr 1fr;
        justify-content: center;
        justify-items: center;
        outline: 3px solid black;
        grid-template-areas: 
            "imagen-uno imagen-dos"
            "texto-uno texto-dos"
            "imagen-tres imagen-cuatro"
            "texto-tres texto-cuatro";
    }
    .sectionServicios .imagen-uno{
        grid-area: imagen-uno;
    }
    .sectionServicios .imagen-dos{
        grid-area: imagen-dos;
    }
    .sectionServicios .imagen-tres{
        grid-area: imagen-tres;
    }
    .sectionServicios .imagen-cuatro{
        grid-area: imagen-cuatro;
    }
    .sectionServicios .texto-uno{
        grid-area: texto-uno;
    }
    .sectionServicios .texto-dos{
        grid-area: texto-dos;
    }
    .sectionServicios .texto-tres{
        grid-area: texto-tres;
    }
    .sectionServicios .texto-cuatro{
        grid-area: texto-cuatro;
    }
    /*GALERIA*/
    .contenedor{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
        "img-uno img-dos"
        "img-tres img-cuatro"
        "img-cinco img-seis";
    }
    .contenedor .img-uno{
        margin: 20px;
        grid-area: img-uno;
    }
    .contenedor .img-dos{
        margin: 20px;
        grid-area: img-dos;
    }
    .contenedor .img-tres{
        margin: 20px;
        grid-area: img-tres;
    }
    .contenedor .img-cuatro{
        margin: 20px;
        grid-area: img-cuatro;
    }
    .contenedor .img-cinco{
        margin: 20px;
        grid-area: img-cinco;
    }
    .contenedor .img-seis{
        margin: 20px;
        grid-area: img-seis;
    }
}
